.map-container { 
  .map-frame {
    border: none;
    height: 50%;
  }
  
  #map {
    position: relative;
    width: 100%;
    height: calc(100vh - 250px);
  }
}
  
$breakpoint-sm: 768px;

@media (max-width: $breakpoint-sm) {
  #map {
    position: relative;
    width: 100%;
    height: 570px;
  }
}