.ip-div-container{
    position: absolute; 
    z-index: 1;
    top: 0;
    background-color: #ffffff00;
    color: white;
}

.map-container{
    position: relative;
    z-index: 0;
}

/* .ip-div-container{
    position: fixed; 
    z-index: 1;
    left: auto;
    background-color: #ffffff00;
    color: white;
} */