.container{
    background-color: white;
    color: #333333;
    border-radius: 15px;
    box-shadow: 1px 13px 80px 8px rgba(0,0,0,0.19);
    -webkit-box-shadow: 1px 13px 80px 8px rgba(0,0,0,0.19);
    -moz-box-shadow: 1px 13px 80px 8px rgba(0,0,0,0.19);
}
.ip-location-container {
    width: 77%;
    h4 {
        font-size: 12px;
        color: hsl(0, 0%, 59%);
    }
    p{
        font-size: 23px;
        font-weight: 700;
    }
    .right-border{
        border-right: 2px solid #D9D9D9;
    }
}

$breakpoint-sm: 768px;

@media (max-width: $breakpoint-sm) {
    .container{
        text-align: center;
    }
    .ip-location-container p{
        font-size: 20px;
    }
}