<div class="container ip-location-container py-4 px-1">
    <div class="row">
        <div class="col-sm-12 col-md-6 col-xl-3 px-5 right-border">
            <h4>IP ADDRESS</h4>
            <p>192.212.174.101</p>
        </div>
        <div class="col-sm-12 col-md-6 col-xl-3 px-5 right-border">
            <h4>LOCATION</h4>
            <p>Brooklyn, NY 10001</p>
        </div>
        <div class="col-sm-12 col-md-6 col-xl-3 px-5 right-border">
            <h4>TIMEZONE</h4>
            <p>UTC-05:00</p>
        </div>
        <div class="col-sm-12 col-md-6 col-xl-3 px-5">
            <h4>ISP</h4>
            <p>SpaceX Starlink</p>
        </div>
    </div>
</div>